[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
stem = "*"
dataclasses-json = "*"
pylint = "*"
pysocks = "*"
peewee = "*"
flask = "*"
pyinstaller = "*"
flask-cors = "*"
marshmallow = "*"
flask-socketio = "*"

[requires]
python_version = "3.9"
