<mat-sidenav-container class="sidenav-container" fullscreen autosize>
    <mat-sidenav class="sidenav" mode="side" opened="true" position="start">
        <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Contacts">
                <app-contacts-nav>
                </app-contacts-nav>
            </mat-tab>
            <mat-tab label="Pending">
                <app-pending-contacts>
                </app-pending-contacts>
            </mat-tab>
            <mat-tab label="Settings">
                <app-user-settings>
                </app-user-settings>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <app-chat class="app-chat">
        </app-chat>
        <mat-divider></mat-divider>
        <app-chat-box *ngIf="isAnyContactActive" class="app-chat-box">
        </app-chat-box>
    </mat-sidenav-content>
</mat-sidenav-container>