.sidenav-container {
    
}

.sidenav {
    width: 20%
}

.sidenav-content {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}

.app-chat {
    flex: 1;
    overflow: auto;
}

.app-chat-box {
    width: 100%;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 0 !important;
    padding: 3px !important;
    margin: 3px !important;
}

.spinner-container {
    
}

.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }